doctype html
html
	head
		title = 'Developers'
		style
			include style.css
	body
		h1 = 'Developers'
	table
		for developer in developersList
			tr
				td = developer.id
				td = img(src=developer.img)
				td = a(href='/data/developers/' + developer.id) #{developer.name}
				td = developer.post